<!--Taustamusiikki-->
<audio autoplay>
  <source src="../assets/theme.mp3" type="audio/mpeg">
</audio>

<!--Lataussivun kuva-->
<div class="lataus" *ngIf="!suoritettu">
  <img src="../assets/logo.png">
  <p>Ladataaan planeettoja... {{planeetat.length}}</p>
</div>

<!--Planeettojen listaus-->
<div *ngIf="suoritettu">
  <div class="vasen">
    <div class="sisalto" *ngFor="let p of planeetat">
      <div class="nimi">{{p.name}}</div>
      <div class="table">
        <div class="row">
          <div class="col">Halkaisija:</div>
          <div class="col">Eliöt:</div>
        </div>
        <div class="row">
          <div class="col">{{p.diameter}}</div>
          <div class="col">
            <ul class="eliot">
              <li *ngFor="let e of p.eliot" (click)="ladataanElio(e.url)">{{e.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Eliön tarkemmat tiedot-->
  <div class="oikea" id="elio">
    <div class="teksti" *ngIf="elio == 'alkuteksti'">
      Ei valittua eliötä<br>Valitse eliö vasemman valikon planeettalistauksista
    </div>
    <div class="teksti" *ngIf="elio != null && elio != 'alkuteksti'">
      <ul class="elion-tiedot">
        <li>Nimi: {{elio.name}}</li>
        <li>Luokitus: {{elio.classification}}</li>
        <li>Kotiplaneetta: {{elio.koti}}</li>
        <li>Kieli: {{elio.language}}</li>
      </ul>
    </div>
  </div>
</div>
