.sisalto {
  border: 2px solid #000000;
  border-radius: 20px 20px 20px 20px;
  padding: 1em;
  margin: .5em;
  font-size: larger;
}
.sisalto:hover{
  border: 2px solid #877327;
  border-radius: 20px 20px 20px 20px;
  padding: 1em;
  margin: .5em;
  font-size: larger;
}

.vasen {
  display: block;
  font-family: 'Pathway Gothic One', sans-serif;
  float: left;
  min-width: 25%;
  color: #feda4a;
  background: black;
}

.lataus {
  background: black;
  text-align: center;
  font-size: 1.5em;
  color: #feda4a;
}

.oikea {
  position: fixed;
  top: 0;
  left: 25%;
  float: left;
  overflow: hidden;
  width: 70%;
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: center;
  background: black;
}

.teksti {
  position: relative;
  top: -2000px;
  transform-origin: 50% 100%;
  animation: teksti 60s linear;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: teksti 60s linear;
  -moz-transform-origin: 50% 100%;
  -moz-animation: teksti 60s linear;
}

@keyframes teksti {
  0% {
    top: 800px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
@-webkit-keyframes teksti {
  0% {
    top: 800px;
    -webkit-transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    -webkit-transform: rotateX(25deg) translateZ(-2500px);
  }
}
@-moz-keyframes teksti {
  0% {
    top: 800px;
    -moz-transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    -moz-transform: rotateX(25deg) translateZ(-2500px);
  }
}

.nimi {
  font-size: 1.5em;
  font-weight: bold;
}

.halkaisija {
  font-style: inherit;
}

.eliot {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.eliot li {
  cursor: pointer;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
  /*padding-left: 5em;*/
}

.col:nth-child(2) {
  padding-left: 2em;
}

.elion-tiedot {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
